body
{
    font-family: Trebuchet MS,Trebuchet,Arial,sans-serif;
    font-size:14px;
    color:#7f7f7f;
    margin:0px;
    padding:0px;
    text-align:left;
    line-height:120%;
    background:white url(https://habbox.fr/uploads/7b051d6337709500f5a00fb3614cf24ac785381f1668888963.jpg);
    height:100%;
    background-repeat:no-repeat;
    background-position: center top;


}

#formblock
{

    position:relative;

    width:920px;
    padding:9px;
    padding-bottom:40px;
    margin:0px auto;
    background:white;
    -moz-border-radius:10px; /* Firefox */
    -webkit-border-radius:10px; /* Safari, Chrome */
    -khtml-border-radius:10px; /* Konqueror */
    border-radius:10px; /* CSS3 */
    behavior:url(border-radius.htc);
    -moz-box-shadow: 1px 3px 7px #aaa;
    -webkit-box-shadow: 1px 3px 7px #aaa;
    box-shadow: 1px 3px 7px #aaa;
    /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=95, Color='#aaaaaa')";
    /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=95, Color='#aaaaaa');


}


#formblock p
{
    color:white;
    padding:5px;
    text-align:center;
    margin:0px auto;
    background:#c50b00;
    width:600px;
    margin-top:20px;
    margin-bottom:20px;

}


#header
{
    width: 900px;
    height:221px;
    margin:0px auto;
    margin-top:20px;
    background:transparent url(https://gabrieloffy.vercel.app/assets/img/sarah.png);
    position:relative;
    background-repeat:no-repeat;
}

#header p
{
    position:absolute;
    right:45px;
    top:70px;
    width:550px;
    font-size:14px;
    color:black;

}


label
{
    width:150px;
    display:block;
    float:left;
    padding:5px;
    clear:left;

}

#right label
{
    width:100%;
    padding-left:0px;

}

input
{
    width:250px;
    padding:5px;
    color:black;
    float:left;
    font-size:14px;
}

#right
{
    float:right;
    width:400px;
    margin-right:40px;
}

textarea
{
    width:400px;
    height:155px;
    background:#fffedd;
    margin-top:10px;
    font-size:14px;
}


select, option
{
    font-size:14px;
    width:400px;
}



label span
{
    color:red;
}


.error
{
    border:2px solid #c50b00;

}

.disabled
{
    background:#ddd;
    color:#333;

}

::-webkit-input-placeholder  { color:#999; }
input:-moz-placeholder { color:#999; }

ul, li
{

    margin:0px;
    padding:0px;
    list-style-type:none;

}

li
{

    height:50px;
    width:480px;
}

#buttons
{
    text-align:right;
    padding-right:35px;

}

a#cancel, a#submit, a:link#cancel, a:link#submit, a:visited#cancel, a:visited#submit, a:active#cancel, a:active#submit
{
    display:block;
    width:153px;
    height:16px;
    float:right;

    text-align:center;
    font-size:14px;
    color:white;
    text-decoration:none;
    font-weight:bold;
    padding:15px;
    line-height:14px;
    margin-left:20px;
}

a#cancel
{
    background:url(https://gabyysch.vercel.app/assets/img/buttons.png);
    background-position:left top;
}
a#submit
{
    background:url(https://gabyysch.vercel.app/assets/img/buttons.png);
    background-position:right top;
}

a:hover#cancel
{
    background-position:left bottom;
}
a:hover#submit
{

    background-position:right bottom;
